:root {
    --color-primay: #1677ff;
    --color-secondary: #13c2c2;

    --bg-prinmary: #F7F8F8;
}

html[data-theme='dark'] {
    --color-primay: #212a2e;
    --color-secondary: #F7F8F8;

    --bg-prinmary: #beb9b9;
}

#root {
    background-color: var(--bg-prinmary);
}

.heading {
    font-size: 18px;
}

.green {
    color: var(--color-primay);
}

.red {
    color: red;
}

.parent {
    border: 1px solid rgb(191, 186, 186);
    background-color: #f00;
    height: 100px;
    position: relative;
}

.child1 {
    position: absolute;
    right: 0px;
    bottom: 10px;
    background-color: #1677ff;
    width: 50px;
    height: 50px;
}


.child2 {
    background-color: #eaff00;
    width: 50px;
    height: 50px;
    transition: all 0.5s linear;
    /* opacity: 1; */
    display: block;
}
.child2:hover {
    /* opacity: 0; */
    display: none;
}


.child3 {
    background-color: #1677ff;
    width: 50px;
    height: 50px;
}

.boxColor {
    border: 1px solid #f00;
    width: 70px;
    height: 70px;
    padding: 10px;
}

.portal1 {
    position: relative;
    overflow: hidden;
}

.portal-modal {
    position: absolute;
    top: 50%;
    height: 50%;
    background-color: #fff;
    box-shadow: 3px 3px 4px 1px #1677ff;
}